body{

  background: #481620; /*bordo  rozovo */
  background: #D55672;
  background: #00FFC5;
  background: #ADF5FF;
  background: #0075A2;
  background: #fff;
  color: black;
  font-family: 'Arial';
  letter-spacing: 0.1em;
}

.logo{

font-family: 'Luckiest Guy', cursive;
font-size: 2.5em;
color:  #754668 !important;
}

.purple a{
  color: white !important;
}
.purple{
  background: #754668;
  color: white;
}

.rev{
  background: #754668;
  color:  white;
  border: 1px solid white;
}

.rev:hover{
  background: white;
  color: #754668 !important;
}



.white-border{
  border: 1px solid white;
}

.price{
  color: #754668;
  margin: auto;
  text-align: center;
}

a{
  color: black !important;
  /* text-transform: uppercase; */
}

input, textarea{
  /* color:white; */
}

.product{
  padding: 10%;
}
.product:hover{
  background: #754668;
  color: white !important;
}
.product:hover .price{
  background: white;
}

.product  img{
  width:100%;
  height: 400px;
}

.product .name{
  padding: 10px;
  text-align: center;
  margin: auto;
}


.round{
  border-radius: 5px;
}


.form{
  margin: 10px auto;
  width: 95%;
  padding: 1%;
}



#product{
  border-top: 4px solid  #754668;
  margin: 2% auto;
  padding: 6%;
  padding-top: 2%;
}
#product h1{
border-bottom: 1px solid  #754668;
color:  #754668;
font-weight: 700;
margin-bottom: 40px;
}

#product img{
max-height: 500px;
}

#product .price{

  font-size: 1.8em;
}
